.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 68em 1fr;
  grid-template-rows: 6em 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header ."
    ". content .";
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.header {
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #3e8ed0;
}

.content {
  padding: 1em;
}

.header h1 {
  margin: 0;
}

.header a {
  color: #f2f2f2;
}

.subtitle {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  margin: 0;
}

.post-list {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.summary {
  margin: 1em;
}

.read-more-link {
  margin-top: 1em;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6em;
  margin: 0.67em 0;
}



pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}


a {
  background-color: transparent;
}


b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  padding: 0.5em;
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

code>span {
  margin-left: 1em;
}